.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.select {
    border: 1px solid #E0E0E0;
    height: 40px;
    width: 288px;
    border-radius: 0.4rem;
    padding: 0 2.5rem 0 1rem;
    cursor: pointer;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.checkbox input {
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}

.btnWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
}

.btnWrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 42px;
    background-color: var(--deem);
    border: none;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 400;
    color: white;
    gap: 0.2rem;
    cursor: pointer;
}

.btnWrapper button img {
    height: 24px;
    width: 24px;
}

@media (min-width: 998px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .select {
        width: 155px;
    }

    .btnWrapper button {
        width: 150px;
    }

    .checkbox {
        padding-top: 0;
    }

    .btnWrapper {
        padding-top: 0;
    }

    .leftWrap {
        display: flex;
        gap: 1rem;
    }

}