/* app.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


:root {
  --green: #3EBC5E;
  --orange: #FF9500;
  --mint: #00C7BE;
  --yellow: #FFCC00;
  --blue: #007AFF;
  --deep-blue: #5856D6;
  --purple: #AF52DE;
  --pink: #FF2D55;
  --brown: #A2845E;
  --red: #B50022;
  --bg: #132450;
}